
  #game-board {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 0px;
  }
  
  .card {
    height: 300px; 
    width: 250px;
    perspective: 1000px; /* This gives a 3D effect */
    background-color: transparent;
    border: none;
  }
  
  .card img {
    width: 100%;
    height: auto;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }
  
  .card.flipped img.back {
    transform: rotateY(180deg);
  }
  
  .card.flipped img.front {
    transform: rotateY(0deg);
  }
  
  .logo {
    margin-left: 20px;
    margin-right:10px;
  }

  #game-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #restart-button {
    margin-top: 20px;
  }



    .navbar-text {
      margin-left: auto;
      margin-right: 20px;
      }
  
      @media (max-width: 768px) {
        #game-board {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, 1fr);
        }
      
        .card {
          height: 150px;
          width: 125px;
        }
      }